body {
    background-color: rgb(238, 193, 193);
}

header h1 span{
    background-color: bisque;
    border-style: solid;
    text-align: center;
    margin: 0px 250px;
    width: 350px;
    display: inline-block;


}

h2 span {
    background-color: bisque;
    border-style: solid;
    width: 200px;
    display: inline-block;
    text-align: left;
    padding: 10px 148px 10px 10px;
}

main section div h3 {
    text-align: left;
    font-size: 20px;
}

main .pantry {
    /*background-color: bisque;*/
    display: flex;
}

main .canned {
    background-color: grey;
    padding: 0px 10px;
    margin: 10px 20px 10px 0px;
    width: 150px;
    height: 175px;
}

main #dry {
    background-color: grey;
    padding: 0px 10px;
    margin: 10px 20px 10px 0px;
    width: 150px;
    height: 175px;
}

main .freezer {
    /*background-color: bisque;*/
    display: flex;
}

main .viggies {
    background-color: gray;
    padding: 0px 10px;
    margin: 10px 20px 10px 0px;
    width: 150px;
    height: 175px;
}

main #snacks {
    background-color: gray;
    padding: 0px 10px;
    margin: 10px 20px 10px 0px;
    width: 150px;
    height: 175px;
}

img {
    display: flex;
    height: 175px;
    width: 225px;
    margin-top: 10px;
}